<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Server-side pagination</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link th:href="@{/img/favicon.ico}" rel="icon" type="image/x-icon" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
			<h1>Server-side pagination</h1>
			<h4>Author : Zubayer Ahamed</h4>
			<h6>Email : zubayerahamed.ck@gmail.com</h6>
			<h6>Follow me on : <a href="http://www.facebook.com/zubayerahamed" target="_blank">Facebook</a>, <a href="https://www.linkedin.com/in/zubayer-ahamed-55a869159/" target="_blank">LinkedIn</a>, <a href="https://twitter.com/zubayer1990" target="_blank">Twitter</a></h6>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<table id="example" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Office</th>
								<th>Position</th>
								<th>Start Date</th>
								<th>Salary</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="col-md-12 text-center">
					Powered by <a href="http://www.codersknowledge.com" target="_blank">codersknowledge.com</a> &copy; Copyright 2020
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/serversidepagination.js}"></script>
	</body>
</html>